.section {
    min-width: 60%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background: linear-gradient(180deg, #252525, #0a0a0a);
    padding: 10px 0;
    z-index: 10;
}

.nav-header {
    display: flex;
    font-size: 25px;
    color: white;
}

#hamburger {
    display: none;
    margin-left: auto;
    padding: 10px 0;
}

#hamburger .line {
    width: 28px;
    height: 2px;
    background: white;
    margin-bottom: 8px;
    transition: all ease 0.5s;
    transform-origin: 28px;
}

#hamburger.transformed .line:first-child {
    transform: rotate(-45deg);
}

#hamburger.transformed .line:nth-child(2) {
    width: 0;
}

#hamburger.transformed .line:last-child {
    transform: rotate(45deg);
}

.section-body {
    padding-top: 1rem;
}

.right {
    float: right;
}

.item {
    padding-right: 140px;
}

.separate {
    border-bottom: 1px solid darkgray;
    margin-bottom: .5rem;
}

.separate:last-child {
    border-bottom: none;
    margin-bottom: 0;
}

.label {
    display: inline-block;
    width: 7rem;
}

.content {
    padding-right: 1rem;
}

.list {
    margin: 0;
}

.link {
    color: dodgerblue;
    text-decoration: underline;
}

@media (max-width: 768px) {
    #hamburger {
        display: block;
    }
    .label {
        width: 100%;
    }
}